[submodule "TopHatEngine/externlibs/spdlog"]
	path = TopHatEngine/externlibs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TopHatEngine/externlibs/glfw"]
	path = TopHatEngine/externlibs/glfw
	url = https://github.com/TheCherno/glfw
[submodule "TopHatEngine/externlibs/glm"]
	path = TopHatEngine/externlibs/glm
	url = https://github.com/g-truc/glm
